# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.pkl

# Virtual environment
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# Environment variables
.env
*.env

# Data
data/

# Output
outputs/
results/
training/models/

notebooks/
logs/
playground/ 